<nav class="navbar navbar-light bg-light">
  <%= link_to "Wikinimous", root_path, class: "navbar-brand px-3" %>
  <%= link_to "New article", new_article_path, class: "btn btn-light border px-3 mx-3" %>
</nav>
